$d-green: #3F5D45;
$l-green: #EAF0ED;
$font-p: PingFang TC;
$font-h: Helvetica Neue;
$font-t: Times;

@mixin medium{
    @media (max-width:992px) and (min-width:768px){
        @content
    }
};
@mixin pad{
    @media (max-width:767px){
        @content
    }
};