        .mb-1 {
            margin-bottom: 10px;
        }
        .mb-3 {
            margin-bottom: 24px;
        }
        .container {
            box-sizing: border-box;
            width: 1000px;
            margin: 0 auto;
            @include narrow {
                width: 100%;
            }
        }
        .flex-sb {
            display: flex;
            justify-content: space-between;
        }
        .flex-ct {
            display: flex;
            justify-content: center;
        }
        .wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .head {
            box-sizing: border-box;
            padding: 20px 15px;
            @include pad {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        .menu {
            align-self: start;
            a {
                color: #fff;
                padding: 10px;
                background-color: #3399ff;
                text-decoration: none;
                font-weight: bold;
                line-height: 16px;
                &:hover {
                    background-color: #ff8133;
                }
            }
            @include pad {
                width: 51%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                a {
                    display: block;
                    width: 148px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
        .logo {
            width: 250px;
            height: 250px;
            background-image: url(https://fakeimg.pl/250x250/999/fff);
            background-size: cover;
            @include pad {
                width: 150px;
                height: 150px;
                background-image: url(https://fakeimg.pl/150x150/999/fff);
                margin-bottom: 20px;
            }
        }
        .body {
            box-sizing: border-box;
            padding: 0 15px;
            @include pad {
                display: flex;
                flex-wrap: wrap;
            }
        }
        .bodr {
            border: 2px #000 solid;
        }
        .text {
            width: 72%;
            padding: 10px;
            h3 {
                font-size: 20px;
                font-weight: bold;
            }
            p {
                font-size: 16px;
                line-height: 1.5;
            }
            @include pad {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .banner {
            width: 20%;
            position: relative;
            overflow: hidden;
            padding: 5px;
            .pic {
                max-width: 180px;
                margin: 0 auto;
                margin-bottom: 10px;
                img {
                    width: 100%;
                }
            }
            @include pad {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                .pic {
                    max-width: 300px;
                }
            }
        }
        .footer {
            padding: 8px;
            text-align: center;
        }