        @mixin narrow {
            @media(max-width: 1000px) {
                @content
            }
        }

        @mixin pad {
            @media(max-width: 767px) {
                @content
            }
        }