        // font-size
        $fz-10:40px;
        $fz-8:32px;
        $fz-6:24px;
        $fz-5:20px;
        $fz-4:16px;
        // color
        $dark-grey:#8D8D8D;
        $light-grey:#E0E0E0;
        $dark-brown:#916000;
        $light-brown:#AC8A46;
        // font-family
        $en: "Roboto", sans-serif;
        $ch: PingFangTC, sans-serif;
        //git push test