/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 24px;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 15px;
}
@media (max-width: 767px) {
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.menu a {
  color: #fff;
  padding: 10px;
  background-color: #3399ff;
  text-decoration: none;
  font-weight: bold;
  line-height: 16px;
}
.menu a:hover {
  background-color: #ff8133;
}
@media (max-width: 767px) {
  .menu {
    width: 51%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .menu a {
    display: block;
    width: 148px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.logo {
  width: 250px;
  height: 250px;
  background-image: url(https://fakeimg.pl/250x250/999/fff);
  background-size: cover;
}
@media (max-width: 767px) {
  .logo {
    width: 150px;
    height: 150px;
    background-image: url(https://fakeimg.pl/150x150/999/fff);
    margin-bottom: 20px;
  }
}

.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bodr {
  border: 2px #000 solid;
}

.text {
  width: 72%;
  padding: 10px;
}
.text h3 {
  font-size: 20px;
  font-weight: bold;
}
.text p {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .text {
    width: 100%;
    margin-bottom: 20px;
  }
}

.banner {
  width: 20%;
  position: relative;
  overflow: hidden;
  padding: 5px;
}
.banner .pic {
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.banner .pic img {
  width: 100%;
}
@media (max-width: 767px) {
  .banner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .pic {
    max-width: 300px;
  }
}

.footer {
  padding: 8px;
  text-align: center;
}