@import url("https: //fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.ctnt {
  text-align: left;
  margin: 0 auto;
}

.btn-card, .btn-banner {
  border-radius: 30px;
  padding: 10px;
}

.full {
  width: 100%;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 0;
}

.head-item, .foot-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.head-item img, .foot-item img {
  height: 38px;
}

.nav {
  margin-left: 32px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #8D8D8D;
}
.nav a {
  text-decoration: none;
  color: #8D8D8D;
  line-height: 44px;
}
.nav a:hover {
  color: silver;
}

.banner {
  height: 100vh;
  background: center url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true);
  background-size: cover;
}

.banner-text {
  height: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-text .ctnt {
  width: 445px;
  margin-right: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.banner-text .ctnt span {
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 1.2px;
}
.banner-text .ctnt p {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.btn-banner {
  width: 350px;
  margin: 0 auto;
  border: 2px #fff solid;
  text-align: center;
}
.btn-banner:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
.btn-banner a {
  color: #fff;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 48%;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card .ctnt {
  width: 350px;
}
.card .ctnt span {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 1.2px;
  line-height: 48px;
}
.card .ctnt p {
  font-size: 20px;
  font-family: PingFangTC, sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0;
}

.more {
  font-size: 16px;
  font-family: PingFangTC, sans-serif;
  font-weight: 500;
  color: #AC8A46;
  text-decoration: none;
}
.more:hover {
  color: #cfb889;
}

.long {
  height: 1080px;
  background-position: -100px;
  overflow: hidden;
}
.long .ctnt {
  margin-bottom: 52px;
  font-family: "Roboto", sans-serif;
}
.long .ctnt span {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 36px;
}
.long .ctnt p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.btn-card {
  width: 350px;
  margin: 0 auto;
  border: 2px #000 solid;
  text-align: center;
}
.btn-card:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.2);
}
.btn-card a {
  color: #000;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.grey {
  background: #E0E0E0;
  padding: 40px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prod {
  width: 350px;
  height: 540px;
  background-repeat: no-repeat;
  background-size: cover;
}

.soldout {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sold {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 1.2;
  line-height: 36px;
}

.prod-info {
  width: 350px;
}
.prod-info .title {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.2;
}
.prod-info .text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 24px;
}
.prod-info .text span {
  margin-left: 8px;
  text-decoration: line-through;
  color: #8D8D8D;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature .pic {
  width: 730px;
  background-size: cover;
}
.feature .ctnt {
  width: 350px;
  font-family: "Roboto", sans-serif;
}
.feature .ctnt .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
}
.feature .ctnt .sub {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.feature .ctnt .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.btm-img {
  height: 70vh;
  background: center url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true);
  background-size: cover;
}

.subscribe {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.subscribe .subs {
  width: 350px;
}
.subscribe .subs span {
  font-size: 32px;
  line-height: 48px;
  font-family: PingFangTC, sans-serif;
  font-weight: 700;
  color: #8D8D8D;
}
.subscribe .subs input {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  border: 2px #916000 solid;
  margin-bottom: 112px;
}
.subscribe .subs input[type=text] {
  color: #8D8D8D;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
}
.subscribe .subs input[type=text]:focus {
  outline: none;
  border: 2px #916000 solid;
}
.subscribe .subs input[type=button] {
  color: #fff;
  background: #916000;
  padding: 20px 26px;
}
.subscribe .subs input[type=button]:hover {
  cursor: pointer;
}

.brown {
  background: #916000;
}
.brown p {
  font-size: 14px;
  line-height: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  margin-left: 20px;
}

.foot {
  margin-left: 32px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}
.foot a {
  text-decoration: none;
  color: #fff;
  line-height: 44px;
}
.foot a:hover {
  color: #f7a400;
}